<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chatTalkContents</key>
	<array>
		<string>大家好，很高兴见到各位</string>
		<string>快点啊，等到花儿都谢了</string>
		<string>我们交个朋友吧，能告诉我你的联系方式吗</string>
		<string>怎么又断线了，网络怎么这么差呀</string>
		<string>不要吵了不要吵了，专心玩游戏吧</string>
		<string>下次我们再玩吧，我要走了</string>
		<string>不要走，决战到天亮</string>
	</array>
	<key>chatTalkContentsAd</key>
	<array>
		<string>快点啊、人家还要去做面膜呢！！</string>
		<string>知道我是骗子还跟我玩这么长时间牌、什么人品啊你！！</string>
		<string>各位观众、我的牌是三条S！</string>
		<string>唉、我这牌要是一朵鲜花、牛都不敢拉屎了！</string>
		<string>再见了、俺会想念大家的！！</string>
		<string>玛尼玛尼哄、急急如律令、好牌速速我这来！！</string>
		<string>君子报仇、下局不晚、这局暂且放过你！！</string>
	</array>
	<key>chipsInRoomFree</key>
	<array>
		<array>
			<string>10</string>
			<string>20</string>
			<string>50</string>
			<string>100</string>
			<string>200</string>
		</array>
		<array>
			<string>200</string>
			<string>500</string>
			<string>1000</string>
			<string>3000</string>
			<string>5000</string>
		</array>
		<array>
			<string>2000</string>
			<string>5000</string>
			<string>10000</string>
			<string>20000</string>
			<string>50000</string>
		</array>
	</array>
	<key>chipsInRoomLaohu</key>
	<array>
		<array>
			<string>50</string>
			<string>100</string>
			<string>200</string>
			<string>500</string>
			<string>1000</string>
		</array>
		<array>
			<string>500</string>
			<string>1000</string>
			<string>3000</string>
			<string>5000</string>
			<string>10000</string>
		</array>
		<array>
			<string>5000</string>
			<string>10000</string>
			<string>20000</string>
			<string>50000</string>
			<string>100000</string>
		</array>
	</array>
	<key>chipsInRoomPlay</key>
	<array>
		<array>
			<string>10</string>
			<string>20</string>
			<string>50</string>
			<string>100</string>
			<string>200</string>
		</array>
		<array>
			<string>50</string>
			<string>100</string>
			<string>200</string>
			<string>500</string>
			<string>1000</string>
		</array>
		<array>
			<string>200</string>
			<string>500</string>
			<string>1000</string>
			<string>3000</string>
			<string>5000</string>
		</array>
		<array>
			<string>2000</string>
			<string>5000</string>
			<string>10000</string>
			<string>20000</string>
			<string>50000</string>
		</array>
	</array>
	<key>chipsInRoomlSpecial</key>
	<array>
		<array>
			<string>10</string>
			<string>20</string>
			<string>50</string>
			<string>100</string>
			<string>200</string>
		</array>
		<array>
			<string>2000</string>
			<string>5000</string>
			<string>10000</string>
			<string>20000</string>
			<string>50000</string>
		</array>
	</array>
	<key>haveChips</key>
	<array>
		<string>10</string>
		<string>20</string>
		<string>50</string>
		<string>100</string>
		<string>200</string>
		<string>500</string>
		<string>1000</string>
		<string>2000</string>
		<string>3000</string>
		<string>5000</string>
		<string>10000</string>
		<string>20000</string>
		<string>50000</string>
		<string>100000</string>
	</array>
	<key>haveNoChips</key>
	<array>
		<string>40</string>
		<string>400</string>
		<string>2000</string>
		<string>6000</string>
		<string>10000</string>
	</array>
	<key>roomLevelSpecial</key>
	<array>
		<array>
			<string>快速场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>-1</string>
		</array>
		<array>
			<string>富豪场</string>
			<string>头衔:一代巨贾</string>
			<string>底注:2000</string>
			<string>-1</string>
		</array>
	</array>
	<key>roomLevelsFree</key>
	<array>
		<array>
			<string>新手场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>-1</string>
		</array>
		<array>
			<string>高级场</string>
			<string>头衔:商人</string>
			<string>底注:200</string>
			<string>-1</string>
		</array>
		<array>
			<string>富豪场</string>
			<string>头衔:一代巨贾</string>
			<string>底注:2000</string>
			<string>-1</string>
		</array>
	</array>
	<key>roomLevelsLaohu</key>
	<array>
		<array>
			<string>新手场</string>
			<string>头衔:无</string>
			<string>底注:50</string>
			<string>-1</string>
		</array>
		<array>
			<string>中级场</string>
			<string>头衔:商人</string>
			<string>底注:500</string>
			<string>-1</string>
		</array>
		<array>
			<string>富豪场</string>
			<string>头衔:一代巨贾</string>
			<string>底注:5000</string>
			<string>-1</string>
		</array>
	</array>
	<key>roomLevelsPlay</key>
	<array>
		<array>
			<string>擂台比武</string>
			<string>入场费:5万</string>
			<string>胜利奖励:20万</string>
			<string>-1</string>
		</array>
		<array>
			<string>华山论剑</string>
			<string>入场费:20万</string>
			<string>胜利奖励:80万</string>
			<string>-1</string>
		</array>
		<array>
			<string>武林盟主</string>
			<string>入场费:100万</string>
			<string>胜利奖励:400万</string>
			<string>-1</string>
		</array>
	</array>
</dict>
</plist>
