<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blackHole_arm1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,1196},{44,866}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{44,866}}</string>
			<key>sourceSize</key>
			<string>{54,868}</string>
		</dict>
		<key>blackHole_arm2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2302,2},{40,862}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{40,862}}</string>
			<key>sourceSize</key>
			<string>{54,868}</string>
		</dict>
		<key>blackHole_frameLightPart1.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{1226,58}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{1226,58}}</string>
			<key>sourceSize</key>
			<string>{1240,70}</string>
		</dict>
		<key>blackHole_frameLightPart2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2344,2},{52,852}}</string>
			<key>offset</key>
			<string>{4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,136},{52,852}}</string>
			<key>sourceSize</key>
			<string>{80,1128}</string>
		</dict>
		<key>blackHole_hand1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3644,1413},{106,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,86}}</string>
			<key>sourceSize</key>
			<string>{106,86}</string>
		</dict>
		<key>blackHole_hand2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3708,1157},{112,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{112,76}}</string>
			<key>sourceSize</key>
			<string>{112,78}</string>
		</dict>
		<key>blackHole_hole.png</key>
		<dict>
			<key>frame</key>
			<string>{{3244,2},{806,806}}</string>
			<key>offset</key>
			<string>{-5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,52},{806,806}}</string>
			<key>sourceSize</key>
			<string>{900,900}</string>
		</dict>
		<key>blackHole_outerRing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2398,2},{844,844}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{844,844}}</string>
			<key>sourceSize</key>
			<string>{846,846}</string>
		</dict>
		<key>blackHole_rayPart.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,4060},{32,344}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{32,344}}</string>
			<key>sourceSize</key>
			<string>{38,350}</string>
		</dict>
		<key>bomb_explosion1.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,1242},{80,76}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{100,101},{80,76}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion10.png</key>
		<dict>
			<key>frame</key>
			<string>{{3244,810},{280,264}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,264}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2837,848},{224,238}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,22},{224,238}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3333,1611},{96,102}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,88},{96,102}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2464,1160},{124,120}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,79},{124,120}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion4.png</key>
		<dict>
			<key>frame</key>
			<string>{{3644,1271},{140,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,68},{140,144}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion5.png</key>
		<dict>
			<key>frame</key>
			<string>{{3077,1016},{164,164}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,57},{164,164}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046,2628},{188,184}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,48},{188,184}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion7.png</key>
		<dict>
			<key>frame</key>
			<string>{{3243,1076},{204,212}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,34},{204,212}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2837,1074},{234,222}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,30},{234,222}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>bomb_explosion9.png</key>
		<dict>
			<key>frame</key>
			<string>{{3794,810},{242,258}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,12},{242,258}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>diamond_spawning1.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,1328},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>diamond_spawning11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2595,848},{240,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,240}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>diamond_spawning13.png</key>
		<dict>
			<key>frame</key>
			<string>{{3526,810},{266,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,266}}</string>
			<key>sourceSize</key>
			<string>{266,266}</string>
		</dict>
		<key>diamond_spawning15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2302,866},{292,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,291}}</string>
			<key>sourceSize</key>
			<string>{292,291}</string>
		</dict>
		<key>diamond_spawning17.png</key>
		<dict>
			<key>frame</key>
			<string>{{3794,1054},{254,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,252}}</string>
			<key>sourceSize</key>
			<string>{254,252}</string>
		</dict>
		<key>diamond_spawning3.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,1328},{73,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,72}}</string>
			<key>sourceSize</key>
			<string>{73,72}</string>
		</dict>
		<key>diamond_spawning5.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967,1308},{123,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,122}}</string>
			<key>sourceSize</key>
			<string>{123,122}</string>
		</dict>
		<key>diamond_spawning7.png</key>
		<dict>
			<key>frame</key>
			<string>{{3077,848},{166,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,164}}</string>
			<key>sourceSize</key>
			<string>{166,164}</string>
		</dict>
		<key>diamond_spawning9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2595,1090},{216,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,216}}</string>
			<key>sourceSize</key>
			<string>{216,216}</string>
		</dict>
		<key>emptyPixel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,4092},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>firemodeFlameSideIpad1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2814},{124,1276}}</string>
			<key>offset</key>
			<string>{584,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1546,128},{124,1276}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1408},{126,1404}}</string>
			<key>offset</key>
			<string>{586,66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1547,0},{126,1404}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{128,1404}}</string>
			<key>offset</key>
			<string>{586,66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1546,0},{128,1404}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2050,2},{124,1164}}</string>
			<key>offset</key>
			<string>{584,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1546,239},{124,1164}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad2.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,1402},{126,1398}}</string>
			<key>offset</key>
			<string>{583,69}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1544,0},{126,1398}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad3.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1404},{126,1400}}</string>
			<key>offset</key>
			<string>{583,68}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1544,0},{126,1400}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad4.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,1408},{126,1404}}</string>
			<key>offset</key>
			<string>{583,66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1544,0},{126,1404}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2176,2},{124,1154}}</string>
			<key>offset</key>
			<string>{584,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1546,249},{124,1154}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad6.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{126,1238}}</string>
			<key>offset</key>
			<string>{584,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1545,165},{126,1238}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad7.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,2},{126,1324}}</string>
			<key>offset</key>
			<string>{585,26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1546,80},{126,1324}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad8.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{126,1398}}</string>
			<key>offset</key>
			<string>{585,69}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1546,0},{126,1398}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameSideIpad9.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{126,1400}}</string>
			<key>offset</key>
			<string>{586,68}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1547,0},{126,1400}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad1.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,1242},{1236,156}}</string>
			<key>offset</key>
			<string>{-4,531}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{402,159},{1236,156}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad10.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,1400},{1236,166}}</string>
			<key>offset</key>
			<string>{-3,536}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{403,149},{1236,166}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1244,1400},{1226,200}}</string>
			<key>offset</key>
			<string>{-3,549}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{408,119},{1226,200}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad12.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,2},{1216,232}}</string>
			<key>offset</key>
			<string>{-3,562}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{413,90},{1216,232}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1406,2},{1214,188}}</string>
			<key>offset</key>
			<string>{-4,542}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{413,132},{1214,188}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,2},{1192,222}}</string>
			<key>offset</key>
			<string>{-3,554}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{425,103},{1192,222}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad4.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,1400},{1236,168}}</string>
			<key>offset</key>
			<string>{-3,537}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{403,147},{1236,168}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030,1400},{1226,212}}</string>
			<key>offset</key>
			<string>{-3,555}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{408,107},{1226,212}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad6.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,2},{1216,260}}</string>
			<key>offset</key>
			<string>{-3,575}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{413,63},{1216,260}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad7.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,1401},{1236,176}}</string>
			<key>offset</key>
			<string>{-4,541}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{402,139},{1236,176}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,2},{1214,204}}</string>
			<key>offset</key>
			<string>{-4,549}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{413,117},{1214,204}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>firemodeFlameTopIpad9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,2},{1192,228}}</string>
			<key>offset</key>
			<string>{-3,557}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{425,97},{1192,228}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>gem_bling.png</key>
		<dict>
			<key>frame</key>
			<string>{{3242,1282},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>gem_explosion_firemode1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3457,1076},{61,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,62}}</string>
			<key>sourceSize</key>
			<string>{61,62}</string>
		</dict>
		<key>gem_explosion_firemode10.png</key>
		<dict>
			<key>frame</key>
			<string>{{3073,1182},{177,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,167}}</string>
			<key>sourceSize</key>
			<string>{177,167}</string>
		</dict>
		<key>gem_explosion_firemode11.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,2639},{182,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,173}}</string>
			<key>sourceSize</key>
			<string>{182,173}</string>
		</dict>
		<key>gem_explosion_firemode12.png</key>
		<dict>
			<key>frame</key>
			<string>{{3177,1459},{153,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,154}}</string>
			<key>sourceSize</key>
			<string>{153,154}</string>
		</dict>
		<key>gem_explosion_firemode2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3708,1078},{77,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,77}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>gem_explosion_firemode3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3457,1264},{185,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,184}}</string>
			<key>sourceSize</key>
			<string>{185,184}</string>
		</dict>
		<key>gem_explosion_firemode4.png</key>
		<dict>
			<key>frame</key>
			<string>{{3521,1078},{185,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,184}}</string>
			<key>sourceSize</key>
			<string>{185,184}</string>
		</dict>
		<key>gem_explosion_firemode5.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,2638},{174,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,172}}</string>
			<key>sourceSize</key>
			<string>{174,172}</string>
		</dict>
		<key>gem_explosion_firemode6.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,2638},{174,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,172}}</string>
			<key>sourceSize</key>
			<string>{174,172}</string>
		</dict>
		<key>gem_explosion_firemode7.png</key>
		<dict>
			<key>frame</key>
			<string>{{3419,1450},{159,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,160}}</string>
			<key>sourceSize</key>
			<string>{159,160}</string>
		</dict>
		<key>gem_explosion_firemode8.png</key>
		<dict>
			<key>frame</key>
			<string>{{3903,1698},{159,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,156}}</string>
			<key>sourceSize</key>
			<string>{159,156}</string>
		</dict>
		<key>gem_explosion_firemode9.png</key>
		<dict>
			<key>frame</key>
			<string>{{3752,1482},{167,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,159}}</string>
			<key>sourceSize</key>
			<string>{167,159}</string>
		</dict>
		<key>gem_explosion_normal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3000,1298},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>gem_explosion_normal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3333,1459},{73,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,73}}</string>
			<key>sourceSize</key>
			<string>{73,73}</string>
		</dict>
		<key>gem_explosion_normal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2813,1298},{185,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,184}}</string>
			<key>sourceSize</key>
			<string>{185,184}</string>
		</dict>
		<key>gem_explosion_normal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1236,2628},{185,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,184}}</string>
			<key>sourceSize</key>
			<string>{185,184}</string>
		</dict>
		<key>gem_explosion_normal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{3790,1308},{175,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,172}}</string>
			<key>sourceSize</key>
			<string>{175,172}</string>
		</dict>
		<key>gem_explosion_normal6.png</key>
		<dict>
			<key>frame</key>
			<string>{{3000,1361},{175,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,172}}</string>
			<key>sourceSize</key>
			<string>{175,172}</string>
		</dict>
		<key>gem_explosion_normal7.png</key>
		<dict>
			<key>frame</key>
			<string>{{3581,1501},{159,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,158}}</string>
			<key>sourceSize</key>
			<string>{159,158}</string>
		</dict>
		<key>gem_explosion_normal8.png</key>
		<dict>
			<key>frame</key>
			<string>{{3742,1643},{159,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,156}}</string>
			<key>sourceSize</key>
			<string>{159,156}</string>
		</dict>
		<key>gem_explosion_normal9.png</key>
		<dict>
			<key>frame</key>
			<string>{{3921,1540},{167,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,156}}</string>
			<key>sourceSize</key>
			<string>{167,156}</string>
		</dict>
		<key>gem_hl_fadein.png</key>
		<dict>
			<key>frame</key>
			<string>{{3437,1611},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>hint1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967,1432},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>speedModeFrame_1024x768.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2814},{1244,1124}}</string>
			<key>offset</key>
			<string>{3,-39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{405,245},{1244,1124}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gold_effects_hd.pvr.ccz</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:89ea6a67ba49b87be31b76e35e86c520$</string>
		<key>textureFileName</key>
		<string>gold_effects_hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
