<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>91goodId</key>
		<string>100559-20121019-104201404-79</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含5万金币</string>
		<key>field</key>
		<string>gold</string>
		<key>fieldName</key>
		<string>金币</string>
		<key>goodsId</key>
		<string>zhajinhua_xiao</string>
		<key>goodsName</key>
		<string>小宝箱</string>
		<key>imageFile</key>
		<string>gold_coinChest0.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥6.00</string>
		<key>value</key>
		<string>50000</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121022-102014882-54</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含30万金币</string>
		<key>field</key>
		<string>gold</string>
		<key>fieldName</key>
		<string>金币</string>
		<key>goodsId</key>
		<string>zhajinhua_zhong</string>
		<key>goodsName</key>
		<string>中宝箱</string>
		<key>imageFile</key>
		<string>gold_coinChest1.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥30.00</string>
		<key>value</key>
		<string>300000</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121022-102137633-47</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含135万金币</string>
		<key>field</key>
		<string>gold</string>
		<key>fieldName</key>
		<string>金币</string>
		<key>goodsId</key>
		<string>zhajinhua_da</string>
		<key>goodsName</key>
		<string>大宝箱</string>
		<key>imageFile</key>
		<string>gold_coinChest2.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥128.00</string>
		<key>value</key>
		<string>1350000</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>zhajinhua_haohua</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含1188万金币</string>
		<key>field</key>
		<string>gold</string>
		<key>fieldName</key>
		<string>金币</string>
		<key>goodsId</key>
		<string>zhajinhua_haohuas</string>
		<key>goodsName</key>
		<string>豪华大宝箱</string>
		<key>imageFile</key>
		<string>gold_coinChest3.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥618.00</string>
		<key>value</key>
		<string>11880000</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string></string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>5000个金币兑换一颗钻石</string>
		<key>field</key>
		<string>jewel</string>
		<key>fieldName</key>
		<string>钻石</string>
		<key>goodsId</key>
		<string>zhajinhua_zuanshi</string>
		<key>goodsName</key>
		<string>钻石</string>
		<key>imageFile</key>
		<string>gold_shopTool0.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>5000金币</string>
		<key>value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121023-104517477-92</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含16万金币，5张换牌卡，1个招财符</string>
		<key>field</key>
		<string>vip</string>
		<key>fieldName</key>
		<string>普通会员</string>
		<key>goodsId</key>
		<string>putonghuiyuans</string>
		<key>goodsName</key>
		<string>普通会员</string>
		<key>imageFile</key>
		<string>gold_shopTool1.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥18.00</string>
		<key>value</key>
		<string>101</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121024-135949045-30</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含60万金币，10张换牌卡，3个招财符</string>
		<key>field</key>
		<string>vip</string>
		<key>fieldName</key>
		<string>银卡会员</string>
		<key>goodsId</key>
		<string>yinkahuiyuan</string>
		<key>goodsName</key>
		<string>银卡会员</string>
		<key>imageFile</key>
		<string>gold_shopTool2.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥50.00</string>
		<key>value</key>
		<string>102</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121024-140107624-74</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含140万金币，5颗钻石，20张换牌卡，5个招财符</string>
		<key>field</key>
		<string>vip</string>
		<key>fieldName</key>
		<string>金卡会员</string>
		<key>goodsId</key>
		<string>jinkahuiyuan</string>
		<key>goodsName</key>
		<string>金卡会员</string>
		<key>imageFile</key>
		<string>gold_shopTool3.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥108.00</string>
		<key>value</key>
		<string>103</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121024-140139890-70</string>
		<key>consumable</key>
		<string>0</string>
		<key>description</key>
		<string>内含888万金币，50颗钻石，100张换牌卡，30个招财符</string>
		<key>field</key>
		<string>vip</string>
		<key>fieldName</key>
		<string>钻石会员</string>
		<key>goodsId</key>
		<string>zuanshihuiyuan</string>
		<key>goodsName</key>
		<string>钻石会员</string>
		<key>imageFile</key>
		<string>gold_shopTool4.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥518.00</string>
		<key>value</key>
		<string>104</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121023-104753182-81</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含30个换牌卡</string>
		<key>field</key>
		<string>huanpaika</string>
		<key>fieldName</key>
		<string>换牌卡</string>
		<key>goodsId</key>
		<string>huanpaikaBox</string>
		<key>goodsName</key>
		<string>一包换牌卡</string>
		<key>imageFile</key>
		<string>gold_shopTool5.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥6.00</string>
		<key>value</key>
		<string>10</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>100559-20121024-135420479-96</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含5个招财符</string>
		<key>field</key>
		<string>zhaocaifu</string>
		<key>fieldName</key>
		<string>招财符</string>
		<key>goodsId</key>
		<string>zhaocaifuPack</string>
		<key>goodsName</key>
		<string>一包招财符</string>
		<key>imageFile</key>
		<string>gold_shopTool6.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥6.00</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>tirenkaPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含5张踢人卡</string>
		<key>field</key>
		<string>tirenka</string>
		<key>fieldName</key>
		<string>踢人卡</string>
		<key>goodsId</key>
		<string>tirenkaPack</string>
		<key>goodsName</key>
		<string>一包踢人卡</string>
		<key>imageFile</key>
		<string>gold_shopTool7.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥6.00</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>xiaolabaPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含5个小喇叭</string>
		<key>field</key>
		<string>xiaolaba</string>
		<key>fieldName</key>
		<string>小喇叭</string>
		<key>goodsId</key>
		<string>xiaolabaPack</string>
		<key>goodsName</key>
		<string>一包小喇叭</string>
		<key>imageFile</key>
		<string>gold_shopTool8.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>¥6.00</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>jindouPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含180个金豆</string>
		<key>field</key>
		<string>jindou</string>
		<key>fieldName</key>
		<string>金豆</string>
		<key>goodsId</key>
		<string>zhajinhua_jindouxiao</string>
		<key>goodsName</key>
		<string>一包金豆</string>
		<key>imageFile</key>
		<string>gold_shopBean1.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>6</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>jindouBag</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含600个金豆</string>
		<key>field</key>
		<string>jindou</string>
		<key>fieldName</key>
		<string>金豆</string>
		<key>goodsId</key>
		<string>zhajinhua_jindouda</string>
		<key>goodsName</key>
		<string>一袋金豆</string>
		<key>imageFile</key>
		<string>gold_shopBean2.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>6</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>jindou_huanpaikaPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含10张换牌卡</string>
		<key>field</key>
		<string>huanpaika</string>
		<key>fieldName</key>
		<string>换牌卡</string>
		<key>goodsId</key>
		<string>jindou_huanpaikaPack</string>
		<key>goodsName</key>
		<string>一包换牌卡</string>
		<key>imageFile</key>
		<string>gold_shopTool5.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>6</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>jindou_zhaocaifuPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含6个招财符</string>
		<key>field</key>
		<string>zhaocaifu</string>
		<key>fieldName</key>
		<string>招财符</string>
		<key>goodsId</key>
		<string>jindou_zhaocaifuPack</string>
		<key>goodsName</key>
		<string>一包招财符</string>
		<key>imageFile</key>
		<string>gold_shopTool6.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>6</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>jindou_tirenkaPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含10张踢人卡</string>
		<key>field</key>
		<string>tirenka</string>
		<key>fieldName</key>
		<string>踢人卡</string>
		<key>goodsId</key>
		<string>jindou_tirenkaPack</string>
		<key>goodsName</key>
		<string>一包踢人卡</string>
		<key>imageFile</key>
		<string>gold_shopTool7.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>6</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>91goodId</key>
		<string>jindou_xiaolabaPack</string>
		<key>consumable</key>
		<string>1</string>
		<key>description</key>
		<string>内含6个小喇叭</string>
		<key>field</key>
		<string>xiaolaba</string>
		<key>fieldName</key>
		<string>招财符</string>
		<key>goodsId</key>
		<string>jindou_xiaolabaPack</string>
		<key>goodsName</key>
		<string>一包小喇叭</string>
		<key>imageFile</key>
		<string>gold_shopTool8.png</string>
		<key>leftCount</key>
		<string>-1</string>
		<key>price</key>
		<string>6</string>
		<key>value</key>
		<string>5</string>
	</dict>
</array>
</plist>
