<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WatchLocations</key>
	<array>
		<string>{512, 600}</string>
		<string>{690, 445}</string>
		<string>{740, 595}</string>
		<string>{276, 595}</string>
		<string>{345, 445}</string>
	</array>
	<key>chipLocations</key>
	<array>
		<string>{692, 268}</string>
		<string>{894, 170}</string>
		<string>{878, 420}</string>
		<string>{104, 420}</string>
		<string>{88, 170}</string>
	</array>
	<key>chipStartLocations</key>
	<array>
		<string>{512, 210}</string>
		<string>{820, 350}</string>
		<string>{900,480}</string>
		<string>{94, 480}</string>
		<string>{214, 350}</string>
	</array>
	<key>messageLocations</key>
	<array>
		<string>{472, 260}</string>
		<string>{774, 365}</string>
		<string>{758,625}</string>
		<string>{264, 625}</string>
		<string>{248, 365}</string>
	</array>
	<key>peopleLocations</key>
	<array>
		<string>{512, 180}</string>
		<string>{874, 185}</string>
		<string>{858,435}</string>
		<string>{84, 435}</string>
		<string>{68, 185}</string>
	</array>
	<key>pokerLocations</key>
	<array>
		<string>{512, 345}</string>
		<string>{791, 350}</string>
		<string>{791, 525}</string>
		<string>{228, 525}</string>
		<string>{228, 350}</string>
	</array>
	<key>pokerScale</key>
	<dict>
		<key>0</key>
		<string>0</string>
		<key>1</key>
		<string>0</string>
		<key>2</key>
		<string>0</string>
		<key>3</key>
		<string>0</string>
		<key>4</key>
		<string>0</string>
	</dict>
	<key>readyLocations</key>
	<array>
		<string>{512, 340}</string>
		<string>{788, 350}</string>
		<string>{788, 525}</string>
		<string>{222, 525}</string>
		<string>{222, 350}</string>
	</array>
	<key>roomLevels</key>
	<array>
		<array>
			<string>新手场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>100000</string>
		</array>
		<array>
			<string>中级场</string>
			<string>头衔:商人</string>
			<string>底注:50</string>
			<string>500000</string>
		</array>
		<array>
			<string>高级场</string>
			<string>头衔:一代巨贾</string>
			<string>底注:200</string>
			<string>-1</string>
		</array>
		<array>
			<string>快速场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>100000</string>
		</array>
	</array>
</dict>
</plist>
