<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WatchLocations</key>
	<array>
		<string>{284, 240}</string>
		<string>{351, 185}</string>
		<string>{375, 244}</string>
		<string>{196, 244}</string>
		<string>{229, 185}</string>
	</array>
	<key>chipLocations</key>
	<array>
		<string>{344, 100}</string>
		<string>{474, 50}</string>
		<string>{466, 177}</string>
		<string>{80, 177}</string>
		<string>{72, 50}</string>
	</array>
	<key>chipStartLocations</key>
	<array>
		<string>{284, 100}</string>
		<string>{434, 112}</string>
		<string>{470, 252}</string>
		<string>{99, 252}</string>
		<string>{134, 112}</string>
	</array>
	<key>messageLocations</key>
	<array>
		<string>{264, 107}</string>
		<string>{415, 145}</string>
		<string>{407,272}</string>
		<string>{160, 272}</string>
		<string>{152, 145}</string>
	</array>
	<key>peopleLocations</key>
	<array>
		<string>{284, 77}</string>
		<string>{465, 55}</string>
		<string>{457,182}</string>
		<string>{70, 182}</string>
		<string>{62, 55}</string>
	</array>
	<key>pokerLocations</key>
	<array>
		<string>{284, 127}</string>
		<string>{422, 135}</string>
		<string>{422, 226}</string>
		<string>{143, 226}</string>
		<string>{143, 135}</string>
	</array>
	<key>pokerScale</key>
	<dict>
		<key>0</key>
		<string>0</string>
		<key>1</key>
		<string>0</string>
		<key>2</key>
		<string>0</string>
		<key>3</key>
		<string>0</string>
		<key>4</key>
		<string>0</string>
	</dict>
	<key>readyLocations</key>
	<array>
		<string>{284, 124}</string>
		<string>{422, 135}</string>
		<string>{422, 226}</string>
		<string>{143, 226}</string>
		<string>{143, 135}</string>
	</array>
	<key>roomLevels</key>
	<array>
		<array>
			<string>新手场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>100000</string>
		</array>
		<array>
			<string>中级场</string>
			<string>头衔:商人</string>
			<string>底注:50</string>
			<string>500000</string>
		</array>
		<array>
			<string>高级场</string>
			<string>头衔:一代巨贾</string>
			<string>底注:200</string>
			<string>-1</string>
		</array>
		<array>
			<string>快速场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>100000</string>
		</array>
	</array>
</dict>
</plist>
