<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WatchLocations</key>
	<array>
		<string>{240, 240}</string>
		<string>{330, 155}</string>
		<string>{357, 240}</string>
		<string>{120, 240}</string>
		<string>{145, 155}</string>
	</array>
	<key>chipLocations</key>
	<array>
		<string>{320, 90}</string>
		<string>{430, 50}</string>
		<string>{422, 177}</string>
		<string>{36, 177}</string>
		<string>{28, 50}</string>
	</array>
	<key>chipStartLocations</key>
	<array>
		<string>{240, 100}</string>
		<string>{390, 112}</string>
		<string>{426, 252}</string>
		<string>{55, 252}</string>
		<string>{90, 112}</string>
	</array>
	<key>messageLocations</key>
	<array>
		<string>{220, 107}</string>
		<string>{371, 145}</string>
		<string>{363,272}</string>
		<string>{116, 272}</string>
		<string>{108, 145}</string>
	</array>
	<key>peopleLocations</key>
	<array>
		<string>{240, 77}</string>
		<string>{421, 55}</string>
		<string>{413,182}</string>
		<string>{26, 182}</string>
		<string>{18, 55}</string>
	</array>
	<key>pokerLocations</key>
	<array>
		<string>{240, 127}</string>
		<string>{378, 135}</string>
		<string>{378, 226}</string>
		<string>{99, 226}</string>
		<string>{99, 135}</string>
	</array>
	<key>pokerScale</key>
	<dict>
		<key>0</key>
		<string>0</string>
		<key>1</key>
		<string>0</string>
		<key>2</key>
		<string>0</string>
		<key>3</key>
		<string>0</string>
		<key>4</key>
		<string>0</string>
	</dict>
	<key>readyLocations</key>
	<array>
		<string>{240, 124}</string>
		<string>{378, 135}</string>
		<string>{378, 226}</string>
		<string>{99, 226}</string>
		<string>{99, 135}</string>
	</array>
	<key>roomLevels</key>
	<array>
		<array>
			<string>新手场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>100000</string>
		</array>
		<array>
			<string>中级场</string>
			<string>头衔:商人</string>
			<string>底注:50</string>
			<string>500000</string>
		</array>
		<array>
			<string>高级场</string>
			<string>头衔:一代巨贾</string>
			<string>底注:200</string>
			<string>-1</string>
		</array>
		<array>
			<string>快速场</string>
			<string>头衔:无</string>
			<string>底注:10</string>
			<string>100000</string>
		</array>
	</array>
</dict>
</plist>
